$desertStorm: #f7f7f6;
// Light shades
// Use this color as the background for your dark-on-light designs, or the text color of an inverted design.
$domino: #9a8465;
// Light accent
// Accent colors can be used to bring attention to design elements by contrasting with the rest of the palette.
$dustGray: #9e9b9c;
// Main brand color
// This color should be eye-catching but not harsh. It can be liberally applied to your layout as its main identity.
$hurricane: #8c7b7b;
// Dark accent
// Another accent color to consider. Not all colors have to be used - sometimes a simple color scheme works best.
$corduroy: #646564;
// Dark shades
// Use as the text color for dark-on-light designs, or as the background for inverted designs.
